PORT=5000
MONGODB_URI=mongodb+srv://varunmittapalli2005_db_user:nYHH9Kt0RXtj6zAV@cluster0.tmhyjqq.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_change_in_production
NODE_ENV=development
